*{
    font-family: Arial, Helvetica, sans-serif;
    padding:0.25rem;
}

.pageTitle{
    padding:1rem;

}

.instructions{
    padding:0.5rem;
}
.name-container{
    display: flex;
    flex-wrap: wrap;

}
.name{
    border: solid 1px limegreen;
    width:20vw;
    margin:1rem;
    text-align: center;
    background-color: rgb(187, 222, 236);
    height: 3rem;
}

.name div {
    justify-items: center
}
.colorbox {
    display: inline-block;
    border: solid 1px limegreen;
    height: .5rem;
    width: .5rem;
    background-color: rgb(223, 221, 196);
}
.selected{
    background-color: rgb(223, 221, 196)
}
/* @media{
    
} */
